@charset "utf-8";
/* CSS Document */
pre {
	/* using line-height rather than Element.padding so to ease max-height calculations*/
	line-height: 1.5em;
}
.Utility {
    color: black;
}
.NodeName {
    font-weight:bold;
    color: #800080;
}
.AttributeName {
    font-weight:bold;
    color: black;
}
.AttributeValue {
    color:blue;
}
.NodeValue {
    color: green;
}
.endTag {
   opacity: 1;
   transition: opacity .50s ease-in-out;
}
.fade {
   opacity: 0;
   transition: opacity .25s ease-in-out;
}
.Element {
    border-left-color:#C2C2C2;
    border-left-width:thin;
    border-left-style:solid;
    padding: 0px 0px;
    position: relative;

    /*max-height: set by javascript*/
    overflow: hidden;
    /*opacity: 1;*/
    transition: max-height 0.4s ease-in-out;/*, opacity .5s ease-in;*/
}
.Element > .Element {
    left:15px;
}
.Element_hide, .hide_metadata {
    max-height: 0 !important;
    /*opacity: 0;*/
    transition: max-height 0.4s ease-in-out; /*, opacity .5s ease-out;*/
    overflow: hidden;

}
.Clickable {    
    font-weight:900;
    font-size:large;
    color: #800080; 
    cursor:pointer;
    padding-left: 5px;
    padding-right:5px;
    vertical-align:middle;
    user-select: none;
}
