body {
    width: 400px;
}

h4 {
    margin: 0.8em 0px 0.2em 0px;
}

ul {
    margin-top:0.5em;
}

.content {
    margin: 5px 5px;
}

.banner {
    padding: 0.5em;
    margin: 0px;
    width: auto;
    background: #CEE3F8;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align:center;
    vertical-align:middle;
}
.fade {
   opacity: 0;
   transition: opacity .5s ease-in-out;
}
.italicised {
    font-style: italic;
}

input[type='color'] {
    margin-top: 4px;
}

input[type='range'] {
    margin-left: 0.8em;
    width: 90%;
}

fieldset {
    border-color: #CEE3F8;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 4px 0px;
}
fieldset div {
    -webkit-column-count: 2;
}
.colourPicker { display: inline-block; }

span.reset {
    cursor: pointer;
    user-select: none;
}
span#autoOpenDepthDisplay {
    font-size: 2em;
}
